<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dztec.dao.MyMenuDao">
    <resultMap id="myMenuListMap" type="com.dztec.model.MyMenu">
        <id column="mid" jdbcType="INTEGER" property="mid"/>
        <result column="mname" property="mname" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getMyMenu" resultMap="myMenuListMap" parameterType="java.lang.String">
        SELECT *
        FROM
        mymenu
    </select>
</mapper>